<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @bike.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @bike.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bike.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bike.quantity %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
